<template #routeDetailsTemplate let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close"
                (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <strong>itinerary.id</strong> {{itinerary.id}}<br>
    <div class="row" *ngFor="let leg of itinerary.legs">
        <div class="col-md-12">
            <strong>type</strong> {{leg.type}}<br>
            <div *ngIf="leg.type == 'Walking'">
                <div class="row"
                     *ngFor="let direction of leg.directions">
                    <div class="col-md-9 offset-md-3">
                        {{direction.instruction}}<br>
                    </div>
                </div>
            </div>
            <div *ngIf="leg.type == 'Transit'">
                <div class="row" *ngFor="let waypoint of leg.waypoints">
                    <div class="col-md-9 offset-md-3">
                        {{waypoint.stop.name}}<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<div class="page container">
    <div class="row">
        <div class="col-md-12">
            <span class="float-left"
                  *ngFor="let itinerary of journey.itineraries">
                <button type="radio" class="btn btn-secondary"
                        placement="bottom"
                        (click)="showRoute(itinerary)">
                    Route
                </button>
                <br>
                <a href="javascript:"
                   (click)="showRouteDetails(itinerary, routeDetailsTemplate)">
                    Details</a>
            </span>
        </div>
    </div>
    <div class="row">&nbsp;</div>

    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <sebm-google-map-polyline *ngFor="let coords of polyLines">
            <sebm-google-map-polyline-point
                *ngFor="let coord of coords"
                [latitude]="coord[1]" [longitude]="coord[0]">
            </sebm-google-map-polyline-point>
        </sebm-google-map-polyline>
    </sebm-google-map>
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-12">
            <button type="button"
                    class="btn btn-primary btn-lg btn-block"
                    (click)="track()">
                Let's Go!
            </button>
        </div>
    </div>
    <div class="row">&nbsp;</div>

    <!-- Print itineraries -->
    <!--
        <div class="row" *ngFor="let itinerary of journey.itineraries">
            <div class="col-md-12">
                itinerary.id {{itinerary.id}}<br>
                <div class="row" *ngFor="let leg of itinerary.legs">
                    <div class="col-md-9 offset-md-3">
                        type {{leg.type}}<br>
                        <div *ngIf="leg.type == 'Walking'">
                            <div class="row" *ngFor="let direction of leg.directions">
                                <div class="col-md-9 offset-md-3">
                                    {{direction.instruction}}<br>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="leg.type == 'Transit'">
                            <div class="row" *ngFor="let waypoint of leg.waypoints">
                                <div class="col-md-9 offset-md-3">
                                    {{waypoint.stop.name}}<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
    -->

</div>
