<div class="page container">
    <div class="row" *ngFor="let itinerary of journey.itineraries">
        <div class="col-md-12">
            itinerary.id {{itinerary.id}}<br>
            <div class="row" *ngFor="let leg of itinerary.legs">
                <div class="col-md-9 offset-md-3">
                    type {{leg.type}}<br>
                    <div *ngIf="leg.type == 'Walking'">
                        <div class="row" *ngFor="let direction of leg.directions">
                            <div class="col-md-9 offset-md-3">
                                {{direction.instruction}}<br>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="leg.type == 'Transit'">
                        <div class="row" *ngFor="let waypoint of leg.waypoints">
                            <div class="col-md-9 offset-md-3">
                                {{waypoint.stop.name}}<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>

<!--
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Route 2</h3>
            <ol>
                <li>Walk to C</li>
                <li>Taxi to B</li>
                <li>Train to Destination</li>
            </ol>
            <a class="btn btn-primary" href="javascript:"
               role="button">Selected</a>
            <a class="float-right" href="javascript:"><span
                class="badge badge-default">2</span>&nbsp;Joined</a>
        </div>
    </div>
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Route 3</h3>
            <ol>
                <li>Walk to B</li>
                <li>Train to Destination</li>
            </ol>
            <a class="btn btn-secondary" href="javascript:"
               role="button">Join</a>
            <a class="float-right" href="javascript:"><span
                class="badge badge-default">1</span>&nbsp;Joined</a>
        </div>
    </div>
    <div class="row">&nbsp;</div>
-->

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-block" href="/track" role="button">Let's
                Go!</a>
        </div>
    </div>
    <div class="row">&nbsp;</div>
</div>
