<div class="page container">
    <h3>Route 1</h3>
    <ol>
        <li>Cycle to A</li>
        <li>Bus to B</li>
        <li>Train to Destination</li>
    </ol>
    <button type="submit" class="btn">Join</button>
    &nbsp;&nbsp;&nbsp;
    <a href="javascript:"><span class="badge">3</span>&nbsp;Joined</a>

    <h3>Route 2</h3>
    <ol>
        <li>Walk to C</li>
        <li>Taxi to B</li>
        <li>Train to Destination</li>
    </ol>
    <button type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-ok icon-white"></i> Selected
    </button>
    &nbsp;&nbsp;&nbsp;
    <a href="javascript:"><span class="badge">2</span>&nbsp;Joined</a>

    <h3>Route 3</h3>
    <ol>
        <li>Walk to B</li>
        <li>Train to Destination</li>
    </ol>
    <button type="submit" class="btn">Join</button>
    &nbsp;&nbsp;&nbsp;
    <a href="javascript:"><span class="badge">1</span>&nbsp;Joined</a>

    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="show('friends')">Let's Go!</button>
</div>
