<div class="page container">
  <div class="page-header">
    <h1>Where to?</h1>
  </div>

  <form [formGroup]="searchForm" (submit)="listRoutes($event)">
    <input class="form-control" formControlName="destination" type="search"
           [typeahead]="dataSource"
           (typeaheadLoading)="changeTypeaheadLoading($event)"
           (typeaheadNoResults)="changeTypeaheadNoResults($event)"
           (typeaheadOnSelect)="typeaheadOnSelect($event)"
           typeaheadOptionsLimit="7"
           typeaheadOptionField="name"
           placeholder="Search">
    <br>
    <button class="btn btn-primary btn-lg btn-block" type="submit">List Routes
    </button>
  </form>
</div>
